 .header {
     /* background-color: red; */
     background-image: url(/komfort-veka/img/ryan-franco-lpeNV3CKRLw-unsplash.jpg);
     background-attachment: fixed;
     background-position: auto;
     background-size: cover;
     height: 600px;
     position: relative;
 }

 .first-button {
     background-color: salmon;

 }

 .overlay {
     position: absolute;
     min-width: 100%;
     min-height: 100%;
     background: rgba(244, 244, 244, 0.20);
 }


.header2 {
    background-image: url(/komfort-veka/img/henry-co-UeueyMEWq-w-unsplash.jpg);
    background-attachment: fixed;
    background-position: auto;
    background-size: cover;
    height: 600px;
    position: relative;

}



 .desc {

    position:absolute;
    top: 35%;
    padding: 0%;
 }

 .code-design {
    color: aliceblue;
 }

.about{
    position: relative;
    padding: 1em;
    margin: 4em 0;
}

.about-me {
    border-left: 4px solid salmon;
    ;
}

.my-row-setting {
    margin-top: 50px;
}

.portfolio img {
    margin: 1em;
    width: 100%;

}

.about img {
    width: 50%;
    position: static;;
}

.about h2 {
    position: static; 
    width: 50%;
}

.about2 {
    margin: 2em solid black;
    padding: 2em solid black;
}

/* BLOG STYLE */

.blog {
    position: relative;
    margin: 4em;
    padding: 2em;
}

.blog .card .img {
    width: 100%;
}

.blog .card {
    box-shadow: 0 0 20px;
    padding: 1em;
}

.blog .card:hover {
    background: gray;
    cursor: pointer;
}

/* FORM */

.contact-form {
    position: relative;
    padding: 2em;
    margin: 4em;

}

.contact-form h1 {
    padding: 2em 1px;
}

.contact-form .right .btn-primary{
    
}

.contact-form .right {
    max-width: 600px;
}

